$cube-size: 300px;

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 1, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 1, 360deg);
  }
}

.cube-container {
  position: relative;
  width: $cube-size;
  height: $cube-size*1.5;
  margin: 0 auto;
  perspective: 1000px;
  .cube {
    position: absolute;
    // determines if the children are positioned in 3d space or flattened
    transform-style: preserve-3d;
    // transition all properties when changed over 0.5 seconds
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    transform: translateZ(-$cube-size*0.5);
    figure {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../images/1.jpg');
      background-size: cover;
    }
    .offset {
      position: absolute;
      width: 50px;
      height: 50px;
      transform: perspective(100px) translateZ(100px);
      background-color: red;
    }
    .front {
      transform: rotateY(0deg) translateZ($cube-size*0.5);
    }
    .back {
      transform: rotateY(180deg) translateZ($cube-size*0.5);
    }
    .left {
      transform: rotateY(-90deg) translateZ($cube-size*0.5);
    }
    .right {
      transform: rotateY(90deg) translateZ($cube-size*0.5);
    }
    .front-hover {
      transform: rotateY(0deg) translateZ($cube-size*0.8) translate(0, 0);
      background-image: url('../images/obj_2.png');
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .left-hover {
      transform: rotateY(-90deg) translateZ($cube-size*0.6) translate(0, 0);
      background-image: url('../images/obj_1.png');
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .right-hover {
      transform: rotateY(90deg) translateZ($cube-size*0.6) translate(0, 0);
      background-image: url('../images/obj_3.png');
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .arrows {
      transform: rotateY(0deg) translateZ($cube-size*0.7) translate(0,250%);
      background-image: url('../images/side-to-side-arrows.svg');
      background-size: cover;
      width: 50px;
      height: 50px;
    }
  }
}
